@import '_jungka-import.css';

:root {
  --app-gutter: 1rem;
  --app-gutter-half: .5rem;

  --app-color--blue: #1754ff;
  --app-color--green: #3df069;
  --app-color--orange: #ea5b0c;
  --app-color--grey: hsl(21, 10%, 75%);
}


html {
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Jungka-ForPro', sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.1em;
}

p {
  font-size: 1rem;
  line-height: 1.1em;
}

h2 {
  font-size: 3rem;
  line-height: 1em;
  font-weight: 700;

  @media (max-width: 900px) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.1em;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  font-weight: 700;
}


.app-button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: .65rem 1rem .85rem;
  line-height: 1.15em;
  text-align: center;
  border-radius: 4rem;
  color: hsl(0, 0%, 15%);
  background: hsl(0, 0%, 95%);
  user-select: none;
  cursor: pointer;
  border: none;

  &:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(0, 0%, 15%);
  }

  &.app-button--small {
    font-size: 0.8rem;
    padding: 0.3rem 0.75rem 0.5rem;
  }

  &.app-button--xl {
    font-size: 1.5rem;
    padding: 1.3rem 1.5rem 1.7rem;
  }

  &.app-button--blue {
    color: var(--app-color--blue);
    background: var(--app-color--green);

    &:hover {
      color: var(--app-color--green);
      background: var(--app-color--blue);
    }
  }
  &.app-button--green {
    color: var(--app-color--green);
    background: var(--app-color--blue);

    &:hover {
      color: var(--app-color--blue);
      background: var(--app-color--green);
    }
  }
  &.app-button--negative {
    color: var(--app-color--green);
    background: white;

    &:hover {
      background: white;
      box-shadow: 0 0 0 2px var(--app-color--blue);
    }
  }
}
a.app-button {
  text-decoration: none;
}

a {
  color: inherit;
}
